<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template1"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.2/css/bootstrap.min.css">
</head>
<body>
<div layout:fragment="content1">
<div class="container mt-2">
    <div class="card">
        <div class="card-header">Liste des patients</div>
        <div class="card-body">
            <form method="get" th:action="@{index}">
                <label>Keyword:</label>
                <input type="text" name="keyword" class="form-control" th:value="${keyword}">
                <button type="submit" class="btn btn-primary mt-2">Search</button>
            </form>
            <table class="table">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Date of birth</th>
                    <th>Malady</th>
                    <th>Score</th>
                    <th rowspan="2" sec:authorize="hasRole('ADMIN')">Actions</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="patient : ${patients}">
                    <td th:text="${patient.id}"></td>
                    <td th:text="${patient.getName()}"></td>
                    <td th:text="${patient.dateOfBirth}"></td>
                    <td th:text="${patient.malady}"></td>
                    <td th:text="${patient.score}"></td>
                    <td sec:authorize="hasRole('ADMIN')">
                        <a onclick="return confirm('Are you sure??')" th:href="@{delete(id=${patient.id},size=${size},
                        page=${currentPage},keyword=${keyword})}" class="btn btn-danger">
                            Delete</a>

                        <a  th:href="@{edit(id=${patient.id},size=${size},
                           page=${currentPage},keyword=${keyword})}" class="btn btn-success">
                            Edit</a>
                    </td>

                </tr>
                </tbody>
            </table>


            <ul class="nav nav-pills">
                <li th:each="page,status:${pages}">
                    <a th:class="${status.index==currentPage?'btn btn-info m-lg-1':'btn btn-outline-info m-lg-1'}"
                       th:text="${status.index}"
                       th:href="@{index(page=${status.index},size=${size},keyword=${keyword})}"
                    ></a>
                </li>
            </ul>

        </div>

    </div>
</div>

</div>



</body>
</html>